body {
    background-color: lightskyblue;
}

p {
    font-size: 20px;
    background-color: palevioletred;
    margin: 35px;
}

li {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    color: yellow;
}