    body {
        background-color: grey;
    }
    
    p {
        font-size: 20px;
        color: darkgrey;
        background-color: black;
        margin: 10px
    }
    
    li {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        color: darkgrey;
        background-color: black;
    }
    
    .branches {
        color: darkgrey;
        background-color: black;
        font-size: 30px;
        margin: 2px solid;
    }
    
    .branches li {
        color: white;
        background-color: black;
    }
    
    .branches p {
        background-color: black;
        color: white;
    }