body {
    background-color: lightskyblue;
}

p {
    font-size: 20px;
    background-color: palevioletred;
    margin: 35px;
}

li {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: black;
}

.branches {
    color: black;
    font-size: 30px;
    margin: 2px solid;
}

.branches li {
    color: black;
}

.branches p {
    background-color: red;
}